.coins{
    margin: 0 10px;
}

#root{
    overflow-x: hidden;
}

.coins .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: medium;
    font-weight: 400;
}

.coins .container table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.coins .container table thead th{
    background-color: #f3f3f3;
    color: #000;
    padding: 10px 60px ;
    text-align: center;
    
}

.green{
    color: green;

}
.red{
    color: red;

}

.coins .container table thead{
    cursor: pointer;
}

.coins .container table tbody tr{
    border-bottom:1px solid #6c55559d;
    height: 55px;
}

.coins .container table tbody tr td{
    padding: 8px 20px;
    
}

.coins .container table tbody tr .coin {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* .coins table tbody tr :nth-child(1), :nth-child(3), :nth-child(4), :nth-child(5){
    text-align: right;

} */

.coins .container table tbody tr .coin img{
    width: 30px;
    margin: 0 10px;
}

.br{
    display: none;
}


@media screen and (max-width:1040px){
    .coins .container table tbody tr td {
        padding: 8px 10px;
    }
    .coins .container{
        max-width: 940px;
    }
}

@media  screen and (max-width:840px) {
    .child-5{
        display: none;
    }
    
}

@media screen and (max-width:698px){
    .child-1{
        display: none;
    }
}

@media screen and (max-width:540px){
    .coins{
        font-size: 10rem;
    }
    .coins .container table tbody tr td{
        padding: 0;
        
    }
    .child-1 .coin img{
        display: none;
    }
    .child-2 h4{
        font-size: 0.8rem;
    }
    .child-3 p{
        font-size: 0.8rem;
    }
    .child-4 p{
        font-size: 0.8rem;
    }
    .br{
        display: block;
    }
}